.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 75vw;
    min-height: calc(100vh - var(--navbar-height));
}

.aboutContainer > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.aboutContainer > div > h1 {
  color: gold;
  letter-spacing: 1px;
}

.aboutContainer > div > p, 
.footer > p {
  font-family: HelveticaNeue-light;
  font-size: var(--fs-m);
  font-weight: bolder;
  letter-spacing: 1px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 20px;
}

.footer > p {
  text-align: center;
}

.footer > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 0;
  overflow: auto;
}

.footer > ul > li:hover {
  color: gold;
}