.background{
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    min-height: 100%;
}

.background > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.background > div > h1 {
  color: gold;
  letter-spacing: 1px;
}

.background > div > p, 
.footer > p {
  font-family: HelveticaNeue-light;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 5em;
  margin-bottom: 50px;
}

.footer > p {
  text-align: center;
}

.footer > ul {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.footer > ul > li:hover {
  color: gold;
}