/* Global CSS */

@font-face{
  font-family: HelveticaNeue-bold;
  src: url("../assets/fonts/Helvetica\ Neue\ Medium\ Extended.otf");
}

@font-face{
  font-family: HelveticaNeue-reg;
  src: url("../assets/fonts/Helvetica\ Neue\ Regular.otf");
}

@font-face{
  font-family: HelveticaNeue-light;
  src: url("../assets/fonts/Helvetica\ Neue\ UltraLight.otf");
}

:root{
    --primary-text-colour: #f1f5f9;
    --secondary-text-colour: #cbd5e1;
    --main-background-colour: linear-gradient(0, #64748b, #0f172a);
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue-bold;
  color: var(--primary-text-colour);
}

.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-background-colour);
}

ul{
    list-style: none;
}

.swiper-slide-next > a {
  pointer-events: none;
}