.background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
font-size: var(--fs-xl);
font-family: HelveticaNeue-light;
letter-spacing: 20px;
font-weight: 900;
}

.homeBtn{
    background-color: transparent;
    border: none;
    padding: .4em .8em;
    margin-top: 2rem;
    font-size: var(--fs-m);
    font-family: HelveticaNeue-bold;
    letter-spacing: 5px;
}

.homeBtn:hover{
    cursor: pointer;
    background-color: gold;
    color: #0f172a;
    border-radius: 10px;
}
