.swiper {
    height: 70vh;
    width: 75vw;
}

.image,
.video {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    z-index: 1;
    border: 2px solid whitesmoke;
    overflow: auto;
}

.image {
    opacity: .8;
}

.image:hover {
    opacity: 1;
}

.text {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 500px;
    bottom: 30px;
    right: 0;
    gap: 1em;
}

.githubIcon {
    font-size: 1.8em;
}

.githubIcon:hover {
    font-size: 1.9em;
    color: gold;
}

.title {
    font-size: var(--fs-l);
    color: gold;
    border-radius: 10px;
}

.description {
    font-size: var(--fs-m);
    background-color: rgba(0, 0, 0, .9);
    padding: 15px;
}

.techStack {
    font-family: HelveticaNeue-reg;
    font-size: var(--fs-s);
}

.description,
.techStack {
    font-family: HelveticaNeue-reg;
    letter-spacing: 1px;
    text-align: end;
}